:root {
    --text-color: #333;
    --line-height: 6px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.main {
    display: flex;
    flex-direction: column;
}
/* Player */
.player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
    z-index: 10;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.player-header {
    text-align: center;
    margin-bottom: 16px;
    color: var(--text-color);
    font-weight: bold;
}
.player-status {
    font-size: 10px;
}
.player-music-name {
    font-size: 20px;
}
.player-banner {
    width: 52%;
    border-radius: 50%;
    overflow: hidden;
}
.player-banner-bg {
    padding-top: 100%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.player-controls {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 24px 0 0 0;
    flex: 1 1 auto;
    -webkit-tap-highlight-color: transparent;
}
.btn {
    --length: 45px;
    width: var(--length);
    height: var(--length);
    border-radius: 50%;
    color: #972939;
    display: flex;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.btn.active {
    color: #fff;
    background-color: #e94c66;
}
.btn-toggle-play {
    --length: 60px;
    font-size: 24px;
    color: #fff;
    background-color: #972939;
}

.btn-icon {
    margin: auto;
}
.btn-play {
    position: relative;
    left: 3px;
}
.btn-pause {
    display: none;
}

.btn-toggle-play.active {
    color: #972939;
    background-color: transparent;
}

.btn-toggle-play.active .btn-pause {
    display: unset;
}

.btn-toggle-play.active .btn-play {
    display: none;
}

.btn--onmousedown {
    color: #fff;
    background-color: #972939;
}
.progress {
    width: 100%;
    height: var(--line-height);
    margin-top: 24px;
    border-radius: 12px;
    position: relative;
    outline: none;
    background-color: #972939;
    -webkit-appearance: none;
}
.progress::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 12px;
    height: var(--line-height);
    background-color: #ffd9d9;
}
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #972939;
    margin-top: -3px;
}

/* Songs List */
.songs-container {
    background-color: #f6e9e9;
    padding: 20px 12px;
    overflow-x: auto;
    flex: 1 1 auto;
}
.song {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 68px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.09);
    margin-bottom: 8px;
}
.song.active {
    background-color: #972939;
    color: #fff;
}
.song.active .song-banner {
    animation-play-state: running;
}
.song-banner-container {
    width: 28%;
    display: flex;
}
.song-banner {
    border-radius: 50%;
    margin: auto;
    --length: 44px;
    width: var(--length);
    height: var(--length);
    overflow: hidden;
    animation: rotate 20s linear infinite paused;
}
.song-banner-bg {
    padding-top: 100%;
}
.song-content {
    padding: 14px 0;
    flex: 1 1 auto;
}
.song-name {
    font-size: 16px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.song-singer {
    opacity: 0.9;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.song-options {
    width: 16%;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    position: relative;
}
.option-list {
    position: absolute;
    right: 20%;
    top: 70%;
    z-index: 5;
    background-color: #f8f8f8;
    color: #333;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    overflow: hidden;
}
.display {
    display: unset;
}
.option {
    min-width: 170px;
    padding: 14px 16px;
    display: block;
    border-radius: 5px;
}
.option:hover {
    background-color: #ffcbcb;
}
.song-options-icon {
    margin: auto;
}
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    display: none;
}
